.landing{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
    

}

.headings{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.landing h1 {
    width: 70%;
    font-size: 4rem;
    text-align: center;
    color: white;
}

.landing h4 {
    width: 75%;
    text-align: center;
    font-weight: lighter;
    font-size: 1.8rem;
    color: white;
}

.landing button{
    height: 6vh;
    width: 7vw;
    border-radius: 45px;
    background-image: linear-gradient(to bottom right, #1774CF, #09CC96);
    box-shadow: 10px;
    align-items: center;
    justify-content: center;
}